/* ------------scrollbar---------------  */

body::-webkit-scrollbar {
    display: none;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(136, 136, 136);
    /* Set the color of the thumb */
    border-radius: 5px;
}

body::-webkit-scrollbar-track {
    background-color: #ffffff;
    /* Set the color of the track */
}


/* ---------------------footer -------------------- */

footer {
    width: 100%;
    background-color: black;
}

.foot-item {
    border: none;
    background-color: transparent;
    text-align: left;
}

.foot-body {
    overflow: hidden;
}

.foot-comp {
    transform: translateY(9vw);
    z-index: 0;
    position: relative;
}

.foot-bottom {
    position: relative;
    z-index: 1;
}

.policy {
    color: white;
}



/* ---------------navbar-----------------------  */

.effect-blur {
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
}

.menu-item {
    font-size: large;
    text-decoration: none;
}

.nav-item-last {
    border: none !important;
    background-color: transparent;
}

.nav-item {
    text-decoration: none;
    transition: .3s ease;
    cursor: pointer;
}

.pill-bg {
    width: 97.64px;
    height: 45px;
    box-shadow: rgba(161, 196, 253, 1) 0px -32px 32px 0px inset, rgb(255, 255, 255) 0px 0px 0px 2px inset, rgba(0, 0, 0, 0.06) 0px 4px 2px 0px inset, rgba(0, 0, 0, 0.04) 0px 0px 24px 4px inset, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
    z-index: -1;
    right: 0px;
    transition: .3s ease;
}

.pill-bg::before {
    opacity: 0;
}

.nav-item:nth-child(3):hover~.pill-bg {
    right: 117.64px;
    width: 96.33px;
}

.nav-item:nth-child(2):hover~.pill-bg {
    right: 233.97px;
    width: 88.6px;
}

.nav-item:nth-child(1):hover~.pill-bg {
    right: 342.57px;
    width: 113.75px;
}


/* -------------------hero section----------------------  */

/* .comp-slogan {
    word-spacing: 120%;
    -webkit-transform: scale(1, 1.2);
    -moz-transform: scale(1, 1.2);
    -ms-transform: scale(1, 1.2);
    -o-transform: scale(1, 1.2);
    transform: scale(1, 1.2);
} */

.desk-wrapper {
    height: 100vh;
    width: 100vw;
}

.work-heading,
.work-heading-2 {
    transform: translateY(-68px);
}

.heading-wrapper:hover .work-heading {
    transform: translateY(0px);
}

.sample-img {
    border: 10px solid white;
    border-radius: 25px;
}

.sample-work-2::-webkit-scrollbar,
.cinematic::-webkit-scrollbar {
    display: none !important;
}

.sample-work-2::-webkit-scrollbar-track {
    height: 0px !important;
    width: 0px !important;
}

.sample-work-2::-webkit-scrollbar-thumb {
    width: 0px !important;
    height: 0px !important;
}



/* -------------------------From Uiverse.io by Madflows---------------- */
.button {
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #3d3a4e;
    background-size: 400%;
    color: #fff;
    border: none;
    cursor: pointer;
}

.button:hover::before {
    transform: scaleX(1);
}

.button-content {
    position: relative;
    z-index: 1;
}

.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(82.3deg,
            rgba(150, 93, 233, 1) 10.8%,
            rgba(99, 88, 238, 1) 94.3%);
    transition: all 0.475s;
}

.soft-shadow {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* --------------------lenis---------------  */

html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

.nav-item{
    position: relative;
}
.hover-line {
    content: "";
    position: absolute;
    height: 2px;
    bottom: 10px;
    left: 0;
    width: 100%;
    background-color: white;
    transform: scaleX(0);
    transform-origin: bottom right;
    background: currentColor;
    transition: transform 0.25s ease-out;
}

.nav-item:nth-child(1):hover .hover-line-1 {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.nav-item:nth-child(2):hover .hover-line-2 {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.nav-item:nth-child(3):hover .hover-line-3 {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.nav-item:nth-child(4):hover .hover-line-4 {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-item:hover{
    color: white;
}